<div class="header-top-01 @@TopBarClass">
	<div class="container">
		<div class="row">
			<div class="col-md-6 topbar-start">
				<div class="nav">
					<a class="nav-link @@TopBarLink link-effect" href="#">
						<i class="fi-map-pin"></i> Find Store
					</a>
					<a class="nav-link @@TopBarLink link-effect" href="#">
						<i class="fi-mail"></i> support@shopy.com
					</a>
				</div>
			</div>
			<div class="col-md-6 topbar-end">
				<div class="nav justify-content-md-end">
					<a class="nav-link @@TopBarLink link-effect" href="#">
						Contact
					</a>
					<a class="nav-link @@TopBarLink link-effect" href="#">
						About
					</a>
					<a class="nav-link @@TopBarLink link-effect" href="#">
						Blog
					</a>
				</div>
			</div>
		</div>
	</div>
</div>