<!-- Quick View Modal-->
<div class="modal-quick-view modal fade" id="px-quick-view" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content border-0">
            <button class="btn-close position-absolute end-0 top-0 me-2 mt-2 z-index-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <!-- Product Gallery -->
                    <div class="col-lg-7 product-single-gallery">
                        <div>
                            <img src="@@imgPath/img/product-7-hover.jpg" title="" alt="">
                        </div>
                    </div>
                    <!-- End Product Gallery -->
                    <!-- Product Info -->
                    <div class="col-lg-5 product-single-info">
                        <div class="products-brand">
                            <span>Brand name</span>
                        </div>
                        <div class="products-title">
                            <h4 class="h4">Fine-knit sweater</h4>
                        </div>
                        <div class="rating-star">
                            <i class="bi bi-star-fill active"></i>
                            <i class="bi bi-star-fill active"></i>
                            <i class="bi bi-star-fill active"></i>
                            <i class="bi bi-star-fill active"></i>
                            <i class="bi bi-star"></i>
                            <small>(4 Reviews )</small>
                        </div>
                        <div class="product-price">
                            <del class="text-muted">$38.<small>50</small></del>
                            <span class="text-primary">$28.<small>50</small></span>
                        </div>
                        <div class="product-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                        <div class="product-attribute">
                            <label class="fs-6 text-dark pb-2 fw-500">Size</label>
                            <div class="nav-thumbs nav mb-3">
                                <div class="form-check radio-text form-check-inline me-2">
                                    <input class="form-check-input" type="radio" name="q_size_d3" id="q_xs_2" checked="">
                                    <label class="radio-text-label" for="q_xs_2">XS</label>
                                </div>
                                <div class="form-check radio-text form-check-inline me-2">
                                    <input class="form-check-input" type="radio" name="q_size_d3" id="q_s_2">
                                    <label class="radio-text-label" for="q_s_2">S</label>
                                </div>
                                <div class="form-check radio-text form-check-inline me-2">
                                    <input class="form-check-input" type="radio" name="q_size_d3" id="q_m_2">
                                    <label class="radio-text-label" for="q_m_2">M</label>
                                </div>
                                <div class="form-check radio-text form-check-inline me-2">
                                    <input class="form-check-input" type="radio" name="q_size_d3" id="q_l_2">
                                    <label class="radio-text-label" for="q_l_2">L</label>
                                </div>
                            </div>
                            <label class="fs-6 text-dark pb-2 fw-500">Color</label>
                            <div class="nav-thumbs nav mb-3">
                                <div class="form-check radio-color large form-check-inline me-2">
                                    <input class="form-check-input" type="radio" name="q_color_1" id="q_color_01" checked="">
                                    <label class="radio-color-label" for="q_color_01">
                                        <span style="background-color: #126532;"></span>
                                    </label>
                                </div>
                                <div class="form-check radio-color large form-check-inline me-2">
                                    <input class="form-check-input" type="radio" name="q_color_1" id="q_color_2">
                                    <label class="radio-color-label" for="q_color_2">
                                        <span style="background-color: #ff9922;"></span>
                                    </label>
                                </div>
                                <div class="form-check radio-color large form-check-inline me-2">
                                    <input class="form-check-input" type="radio" name="q_color_1" id="q_color_3">
                                    <label class="radio-color-label" for="q_color_3">
                                        <span style="background-color: #326598;"></span>
                                    </label>
                                </div>
                                <div class="form-check radio-color large form-check-inline me-2">
                                    <input class="form-check-input" type="radio" name="q_color_1" id="q_color_4">
                                    <label class="radio-color-label" for="q_color_4">
                                        <span style="background-color: #126578;"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="product-detail-actions">
                            <div class="quantity-box d-flex w-100">
                                <div class="cart-qty">
                                    <div class="dec qty-btn">-</div>
                                    <input class="cart-qty-input form-control" type="text" name="qtybutton" value="1">
                                    <div class="inc qty-btn">+</div>
                                </div>
                                <div class="cart-button col ps-3">
                                    <button class="btn btn-primary w-100">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                            <div class="buy-now-button">
                                <button class="btn btn-outline-dark w-100">
                                    Buy It Now
                                </button>
                            </div>
                            <div class="d-flex cart-extra-button">
                                <button class="btn wishlist-btn">
                                    <i class="fi-heart"></i> Wishlist
                                </button>
                                <button class="btn compare-btn">
                                    <i class="fi-repeat"></i> Compare
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End Product Info -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Quick View Modal-->