<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.BlogMapper">


    <insert id="insertImg">
        insert into BLOG_IMG (BI_NO, BI_NAME, BI_MAIN) values (blog_img_seq.nextval, #{BI_NAME}, #{BI_MAIN})
    </insert>

    <insert id="insertBlog">
        insert into BLOG (B_NO, U_ID, MT_NAME, B_SUBJECT, B_CONTENT, B_TAG1)
        values (blog_seq.nextval, #{U_ID}, #{MT_NAME}, #{B_SUBJECT}, #{B_CONTENT},#{B_TAG1})
    </insert>
</mapper>

