<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.ReplyMapper">

    <select id="getList" resultType="com.blog.domain.ReplyDTO">
        select * from reply where b_no = #{bno}
    </select>

    <insert id="add">
        insert into reply
        values(reply_seq.nextval, #{U_ID}, #{B_NO}, #{R_REPLY}, sysdate, 0,0,0)
    </insert>

</mapper>