<footer class="bg-dark">
    <div class="container footer-top">
        <div class="row">
            <div class="col-sm-6 col-lg-3 my-3">
                <div class="pb-3">
                    <img src="@@imgPath/img/logo-light.svg" title="" alt="">
                </div>
                <address class="dark-link mb-4">
                    <p class="mb-2 text-white opacity-7">301 The Greenhouse London,<br> E2 8DY UK</p>
                    <p class="mb-2"><a class="border-bottom border-secondary text-white" href="mailto:support@domain.com">support@domain.com</a></p>
                    <p class="mb-2"><a class="border-bottom border-secondary text-white" href="tel:820-885-3321">820-885-3321</a></p>
                </address>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-light-soft avatar-xs d-inline-flex align-items-center justify-content-center p-0" href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-light-soft avatar-xs d-inline-flex align-items-center justify-content-center p-0" href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-light-soft avatar-xs d-inline-flex align-items-center justify-content-center p-0" href="#">
                            <i class="bi bi-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-light-soft avatar-xs d-inline-flex align-items-center justify-content-center p-0" href="#">
                            <i class="bi bi-slack"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 my-3">
                <h6 class="text-uppercase mb-5 text-white">
                    Support
                </h6>
                <ul class="list-unstyled footer-link-01 m-0">
                    <li>
                        <a href="#" class="text-white">Help</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Contact Us</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Feedback</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Unsubscribe</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Reservations</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 my-3">
                <h6 class="text-uppercase mb-5 text-white">
                    Policies
                </h6>
                <ul class="list-unstyled footer-link-01 m-0">
                    <li>
                        <a href="#" class="text-white">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Terms of use</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Gift card conditions</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Shipping</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Return</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 my-3">
                <h6 class="text-uppercase mb-5 text-white">
                    Categories
                </h6>
                <ul class="list-unstyled footer-link-01 m-0">
                    <li>
                        <a href="#" class="text-white">Men</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Women</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Accessories</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Shoes</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Denim</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-2 footer-border-top-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start py-1">
                    <p class="m-0 text-white fw-400 opacity-7 small">© 2022 copyright by <a target="_blank" href="https://www.uiocean.com/" class="text-reset">uiocean.com - pxdraft</a></p>
                </div>
                <div class="col-md-6 text-center text-md-end py-1">
                    <img src="@@imgPath/img/payments.png" title="" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>