<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gallery.mapper.GalleryMapper">


    <insert id="insertTempImg">
        insert into gallery_img_temp
        values (#{U_ID}, #{GIT_NAME}, #{GIT_UUID}, #{GIT_ORIGINNAME})
    </insert>

    <insert id="uploadGallery">
        insert into Gallery (G_NO, MT_NAME, U_ID, G_HNAME, G_LNAME, G_HPRICE, G_LPRICE, G_CONTENT, G_REG, G_EDIT, G_STATUS, G_SALES, G_LIKE, G_READCOUNT, G_TAG1, G_TYPE)
        VALUES (gallery_seq.nextval, #{MT_NAME}, #{U_ID}, #{G_HNAME}, #{G_LNAME}, #{G_HPRICE}, #{G_LPRICE}, #{G_CONTENT}, sysdate, sysdate, #{G_STATUS}, #{G_SALES}, #{G_LIKE}, #{G_READCOUNT}, #{G_TAG1}, #{G_TYPE})
    </insert>

    <insert id="insertMetadata">
        insert into Metadata (G_NO, M_IMGLENS, M_IMGCAMERA, M_IMGHQLY, M_IMGLQLY, M_APERTURE, M_ISO, M_FLENGTH, M_SHUTTERSPEED)
        VALUES  (gallery_seq.nextval, #{M_IMGLENS}, #{M_IMGCAMERA}, #{M_IMGHQLY}, #{M_IMGLQLY}, #{M_APERTURE}, #{M_ISO}, #{M_FLENGTH}, #{M_SHUTTERSPEED})
    </insert>







    <select id="getTempImg" resultType="com.gallery.domain.Gallery_Img_Temp">
        select *
        from gallery_img_temp
        where U_ID = #{user_id}
    </select>


    <select id="getGalleryList" resultType="com.gallery.domain.GalleryDTO">
        select * from gallery
        <if test='u_id != null'>
            where U_ID = #{u_id}
        </if>
        <choose>
        <!-- 최신보기(reg) desc - 최신순, asc - 오래된순 -->
        <when test='option eq "reg".toString()'>
            order by G_REG
            <if test='sort eq "desc".toString()'>
                desc
            </if>
            <if test='sort eq "asc".toString()'>
                asc
            </if>
        </when>
            <!-- 좋아요(like) desc - 좋아요 많은순, asc - 좋아요 적은순 -->
            <!--            <when test='option equals("like")'>-->
            <!--                order by B_LIKE-->
            <!--                <if test='sort equals("desc")'>-->
            <!--                    desc-->
            <!--                </if>-->
            <!--                <if test='sort equals("asc")'>-->
            <!--                    asc-->
            <!--                </if>-->
            <!--            </when>-->
            <!-- 조회순(readcount desc - 조회 많은순, asc - 조회 적은순 -->
            <when test='option=="readcount"'>
            order by B_READCOUNT
            <if test='sort=="desc"'>
                desc
            </if>
            <if test='sort=="asc"'>
                asc
            </if>
        </when>
        <!-- 옵션이 없는 경우 -->
        <otherwise>
            order by B_REG desc
        </otherwise>
        </choose>



    </select>

    <select id="getGallerySingle" resultType="com.gallery.domain.GalleryDTO">
        select * from gallery where g_no = #{G_NO}
    </select>

    <select id="checkGallerySeq" resultType="_int">
        select gallery_seq.currval
        from dual
    </select>

    <update id="hideGallery">
        update gallery
        set g_status = 2
        where g_no = #{G_NO}
    </update>

    <update id="updateGallery">
        update Gallery
        set
            g_content = #{G_CONTENT},
            g_tag1 = #{g_TAG1},
            g_edit = sysdate
        g_status = #{G_STATUS}
        where g_no = #{G_NO}
    </update>

    <update id="updateGalleryReadCount">
        update gallery
        set g_readcount = g_readcount + 1
        where b_no = #{G_NO}
    </update>




</mapper>

