<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gallery.mapper.GalleryMapper">


    <insert id="insertTempImg">
        insert into gallery_img_temp
        values (#{U_ID}, #{GIT_NAME}, #{GIT_UUID}, #{GIT_ORIGINNAME})
    </insert>

    <insert id="uploadGallery">
        <selectKey keyProperty="G_NO" resultType="long" order="BEFORE">
            select gallery_seq.nextval from dual
        </selectKey>

        insert into Gallery (G_NO, MT_NAME, U_ID, G_HNAME, G_LNAME, G_HPRICE, G_LPRICE, G_CONTENT, G_REG, G_EDIT, G_STATUS, G_SALES, G_LIKE, G_READCOUNT, G_TAG1, G_TYPE)
        VALUES (#{G_NO}, #{MT_NAME}, #{U_ID}, #{G_HNAME}, #{G_LNAME}, 1000, #{G_LPRICE}, #{G_CONTENT}, sysdate, sysdate, #{G_STATUS}, #{G_SALES}, #{G_LIKE}, #{G_READCOUNT}, #{G_TAG1}, #{G_TYPE})

    </insert>

    <insert id="insertMetadata">
        insert into Metadata (G_NO, M_IMGLENS, M_IMGCAMERA, M_IMGHQLY, M_IMGLQLY, M_APERTURE, M_ISO, M_FLENGTH,
                              M_SHUTTERSPEED)
        VALUES (#{G_NO}, #{M_IMGLENS}, #{M_IMGCAMERA}, #{M_IMGHQLY}, #{M_IMGLQLY}, #{M_APERTURE}, #{M_ISO},
                #{M_FLENGTH}, #{M_SHUTTERSPEED})
    </insert>


    <select id="getMaxReadCountGallery" resultType="com.gallery.domain.GalleryDTO">
        select *
        from gallery
        where g_readCount = (select max(G_READCOUNT) from gallery)
          and ROWNUM = 1
        order by g_reg desc
    </select>

    <select id="getMaxLikeGallery" resultType="com.gallery.domain.GalleryDTO">
        select *
        from gallery
        where g_like = (select max(G_LIKE) from gallery)
          and ROWNUM = 1
        order by g_reg desc
    </select>

    <select id="getMaxSalesGallery" resultType="com.gallery.domain.GalleryDTO">
        select *
        from gallery
        where g_sales = (select max(G_SALES) from gallery)
          and ROWNUM = 1
        order by g_reg desc
    </select>


    <select id="getTempImg" resultType="com.gallery.domain.Gallery_Img_Temp">
        select *
        from gallery_img_temp
        where U_ID = #{user_id}
    </select>


    <sql id="search">
        <trim prefix="(" suffix=") and " prefixOverrides="or">
            <foreach item="sel" collection="selArr">
                <trim prefix="or">
                    <choose>
                        <when test="sel == 'T'.toString()">
                            title like '%'||#{keyword}||'%'
                        </when>
                        <when test="sel == 'C'.toString()">
                            content like '%'||#{keyword}||'%'
                        </when>
                        <when test="sel == 'W'.toString()">
                            writer like '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>


    <!-- 전체 갤러리 글 수  -->
    <select id="getTotal" resultType="int">
        select count(*) from

        (select rownum r, G.*, M.* from
        (select * from gallery) g,
        (select * from metadata) m
        where g.G_NO = m.g_no(+)
        <if test="keyword != null">
            and (g.G_TAG1 like '%'||#{keyword}||'%' or g.MT_NAME like '%'||#{keyword}||'%' or g.U_ID like '%'||#{keyword}||'%' or m.M_IMGLENS like '%'||#{keyword}||'%' or m.M_IMGCAMERA like '%'||#{keyword}||'%' or m.M_APERTURE like '%'||to_char(#{keyword})||'%' or m.M_FLENGTH like '%'||to_char(#{keyword})||'%')

        </if>
        <![CDATA[
                      and g.g_no > 0 and g.g_status < 2 AND rownum <= 1*12  order by g.G_REG desc
              )
        where r > (1 - 1) * 12
        ]]>

<!--    <select id="getTotal" resultType="int">-->
<!--        select count(*) from-->
<!--            (select rownum r, G.* from (-->
<!--                select * from gallery) g,(-->
<!--                select * from metadata) m-->
<!--                where g.G_NO = m.G_NO(+)-->
<!--                    <if test="keyword != null">-->
<!--                        and (g.G_TAG1 like '%'||#{keyword}||'%' or g.MT_NAME like '%'||#{keyword}||'%' or g.U_ID like '%'||#{keyword}||'%' or m.M_IMGLENS like '%'||#{keyword}||'%')-->
<!--                    </if>-->
<!--        <![CDATA[-->
<!--                    and g.g_no > 0 and g.g_status < 2-->
<!--                order by g.G_REG desc) A-->
<!--            where rownum <= #{pageNum} * #{listQty}-->
<!--            order by g.G_REG desc) B-->

<!--        where r > (#{pageNum} - 1) * #{listQty}-->
<!--        ]]>-->

    </select>
    <!-- 갤러리 메인에 보여줄거 다 가져오기 -->
    <select id="getGalleryList" resultType="com.gallery.domain.GalleryDTO">
            select MT_NAME, G_NO from
            (select rownum r, G.* from
            (select * from gallery) g,
            (select * from metadata) m
            where g.G_NO = m.G_NO(+)
        <if test="keyword != null">

            and (g.G_TAG1 like '%'||#{keyword}||'%' or g.MT_NAME like '%'||#{keyword}||'%' or g.U_ID like '%'||#{keyword}||'%' or m.M_IMGLENS like '%'||#{keyword}||'%' or m.M_IMGCAMERA like '%'||#{keyword}||'%' or m.M_APERTURE like '%'||to_char(#{keyword})||'%' or m.M_FLENGTH like '%'||to_char(#{keyword})||'%')

        </if>
        <![CDATA[
            and g.g_no > 0 and g.g_status < 2 AND rownum <= 1*12  order by g.G_REG desc
            )
            where r > (1 - 1) * 12
        ]]>


<!--        select B.* from-->
<!--       (select rownum r, A.* from (-->
<!--                select * from gallery) g,(-->
<!--                select * from metadata) m-->
<!--                where g.G_NO = m.G_NO(+)-->
<!--        <if test="keyword != null">-->
<!--            and (g.G_TAG1 like '%'||#{keyword}||'%' or g.MT_NAME like '%'||#{keyword}||'%' or g.U_ID like '%'||#{keyword}||'%' or m.M_IMGLENS like '%'||#{keyword}||'%')-->
<!--        </if>-->
<!--        <![CDATA[-->
<!--                    and g.g_no > 0 and g.g_status < 2-->
<!--                order by g.G_REG desc) A-->
<!--            where rownum <= #{pageNum} * #{listQty}-->
<!--            order by g.G_REG desc) B-->

<!--        where r > (#{pageNum} - 1) * #{listQty}-->
<!--        ]]>-->
    </select>


    <select id="getGallerySingle" resultType="com.gallery.domain.GalleryDTO">
        select *
        from gallery
        where g_no = #{G_NO}
    </select>

    <select id="getMetadataSingle" resultType="com.gallery.domain.MetadataDTO">
        select * from metadata where g_no = #{G_NO}
    </select>

    <select id="checkGallerySeq" resultType="_int">
        select gallery_seq.currval
        from dual
    </select>


    <update id="updateGallery">
        update Gallery
        set g_content = #{G_CONTENT},
            g_tag1    = #{g_TAG1},
            g_edit    = sysdate,
            g_status  = #{G_STATUS}
        where g_no = #{G_NO}
    </update>

    <update id="updateGalleryReadCount">
        update gallery
        set g_readcount = g_readcount + 1
        where g_no = #{G_NO}
    </update>

    <update id="updateGallerySales">
        update gallery
        set g_sales = g_sales + 1
        where g_no = #{G_NO}
    </update>

    <update id="updateGalleryLike">
        update gallery
        set g_like = g_like + 1
        where g_no = #{G_NO}
    </update>

    <update id="hideGallery">
        update gallery
        set g_status = 2
        where g_no = #{G_NO}
    </update>


    <!-- 메인태그 가져오기 -->
    <select id="getMainTag" resultType="com.gallery.domain.MaintagDTO">
        select *
        from MAINTAG
    </select>

    <update id="buyGallery">
        update gallery
        set g_status = 1
        where g_no = #{G_NO}
    </update>




</mapper>

