<!-- Search Modal -->
@@include('./search/_header-modal.html',{
"path": "",
"imgPath": "../assets",
})
<!-- Mini Cart -->
@@include('./mini-cart/_mini-cart.html',{
"path": "assets",
"imgPath": "../assets",
})
<!-- Quick View -->
@@include('./modal/_quick-view.html',{
"path": ".",
"imgPath": "../assets",
})
<!-- Size Chart -->
@@include('./modal/_size-chart.html',{
"path": ".",
})
<!-- shipping -->
@@include('./modal/_shipping.html',{
"path": ".",
})
<!-- Ask Product -->
@@include('./modal/_ask_product.html',{
"path": ".",
})